<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%=pluralize(@person.errors.count, "")%> fel hindrade skapandet av denna anv채ndare:
      </h2>
      <ul>
        <%@person.errors.messages.values.each do |msg| %>
          <%msg.each do  |m| %>
            <li><%= m %></li>
          <%end %>
        <% end %>
        
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :namn %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :personnummer %><br>
    <%= f.text_field :personnbr %>
  </p>

  <p>
    <%= f.label :l책nekortsnummer %><br>
    <%= f.text_field :cardnbr %>
  </p>

  <p>
    <%= f.label :Forskarsk책p %><br>
    <% @available = Locker.listAvailable(@person.locker_id) %>
    <%= f.collection_select :locker_id, @available, :id, :number %>
  </p>
  
  <p>
    <%= f.submit "Spara anv채ndare"%>
  </p>
<% end %>