<div id = "personal_info">

  <header>
    <h2> <%= @selected.name %> </h2>
  </header>
  
  <p id = "reg_date"> Inskrivningsdatum: <%= @selected.registrationDate %> </p>

  <p>&nbsp;
    <strong>Personnummer:</strong>
    <%= @selected.personnbr %>
  </p>

  <p>&nbsp;
    <strong>Lånekortsnummer:</strong>
    <%= @selected.cardnbr %>
  </p>

  <p>&nbsp;
    <% if @selected.locker_id %>

      <strong>Skåpsnummer:</strong>
      <%= @selectedLocker.number %>

    <% else %>
      <strong> Denna användare har inte ett forskarskåp</strong>
    <% end %>
  </p>
  
  <br>
  
  <p>&nbsp;
    <strong>Totalt antal besök:</strong> <br>&nbsp;
    <%= @nbrOfVisits %>
  </p>
  
  <p> &nbsp;
    <strong> Antal besök denna månaden </strong> <br>&nbsp;
    (Från <%= @countingFrom %>): <br>&nbsp;
    <%= @visitsThisMonth %>
  </p>
  

  
</div>

<div id = "visits">
  <div id = "visits_info">

    <table id = "visits_table" cellspacing="0">
      <tr>
        <th class="visits"></th>
        <th class="visits">Besök:</th>
      </tr>

      <% @visits.each do |visit| %>
        <tr class="visits">
          <td> 
            <%= link_to 'x', visit_path(visit.id),
                  method: :delete,
                  data: { confirm: 'Bekräfta borttagning' }, :style=> 'text-decoration: none; color: black; font-family: sans-serif; border: 1px solid darkslateblue; border-radius: 2px; padding-left: 5px; padding-right: 4px;' %>
          </td>
          <td><%= visit.date %></td>
        </tr>
      <% end %>
    </table>

  </div>
  
  <div id = "add_visit">
    <%= form_tag('/visits', :method => "create") do %>
      <%= text_field_tag :date_year, params[:date_year], :value=> Date.today.year, :style=> 'width: 40px;' %>
      <%= text_field_tag :date_month, params[:date_month], :value=> Date.today.month, :style=> 'width: 20px;' %>
      <%= text_field_tag :date_day, params[:date_day], :value=> Date.today.day, :style=> 'width: 20px;' %>
      <%= hidden_field_tag :person_id, params[:person_id], :value=>@selected.id %>
      <%= submit_tag "Skapa Besök", :style=> 'margin-top: 5px;' %>
    <% end %>
  </div>
  
</div>



<div id = bottom_links>
  
  <div id = delete_link>
    <%= link_to 'Ta bort', person_path(@selected),
                  method: :delete,
                  data: { confirm: 'Bekräfta borttagning' }, :style=> 'text-decoration:none; color: black' %>
  </div>
  <div id = edit_link>
    <%= link_to 'Uppdatera', edit_person_path(@selected), :style=> 'text-decoration:none; color: black'%>
  </div>
  
</div>



  