<div id = "personal_info">

  <header>
    <h2> <%= @selected.name %> </h2>
    <span> Inskrivningsdatum: <%= @selected.registrationDate %> </span>
  </header>

  <p>&nbsp;
    <strong>Personnummer:</strong>
    <%= @selected.personnbr %>
  </p>

  <p>&nbsp;
    <strong>Lånekortsnummer:</strong>
    <%= @selected.cardnbr %>
  </p>

  <p>&nbsp;
    <% if @selected.locker_id %>

      <strong>Skåpsnummer:</strong>
      <%= @selectedLocker.number %>

    <% else %>
      <strong> Denna användare har inte ett forskarskåp</strong>
    <% end %>
  </p>
  
  <br>
  
  <p>&nbsp;
    <strong>Totalt antal besök:</strong> <br>&nbsp;
    <%= @nbrOfVisits %>
  </p>
  
  <p> &nbsp;
    <strong> Antal besök denna månaden </strong> <br>&nbsp;
    (Från <%= @countingFrom %>): <br>&nbsp;
    <%= @visitsThisMonth %>
  </p>
  

  
</div>

<div id = "visits_info">
  
  <table id = "visits_table" cellspacing="0">
    <tr>
      <th class="visits">Besök:</th>
    </tr>

    <% @selected.visits.each do |visit| %>
      <tr>
        <td><%= visit.date %></td>
      </tr>
    <% end %>
  </table>

</div>

<div id = bottom_links>
  
  <div id = delete_link>
    <%= link_to 'Ta bort', person_path(@selected),
                  method: :delete,
                  data: { confirm: 'Bekräfta borttagning' }, :style=> 'text-decoration:none; color: black' %>
  </div>
  <div id = edit_link>
    <%= link_to 'Uppdatera', edit_person_path(@selected), :style=> 'text-decoration:none; color: black'%>
  </div>
  
</div>