
<p>
  <strong>Namn:</strong>
  <%= @selected.name %>
</p>
 
<p>
  <strong>Personnummer:</strong>
  <%= @selected.personnbr %>
</p>

<p>
  <strong>Lånekortsnummer:</strong>
  <%= @selected.cardnbr %>
</p>

<p>
  <strong>Inskrivningsdatum:</strong>
  <%= @selected.registrationDate %>
</p>


<p>
  <% if @selected.locker_id %>
  
    <strong>Locker:</strong>
    <%= @selectedLocker.number %>
    <%= @selected.locker_id %>
  
  <% else %>
    <strong> Denna användare har inte ett forskarskåp</strong>
  <% end %>
</p>


<p>
  <strong>Totalt antal besök:</strong>
  <%= @nbrOfVisits %>
</p>


<table>
  <tr>
    <th>Besök:</th>
  </tr>
 
  <% @selected.visits.each do |visit| %>
    <tr>
      <td><%= visit.date %></td>
    </tr>
  <% end %>
</table>



<%= link_to 'Ta bort', person_path(@selected),
              method: :delete,
              data: { confirm: 'Bekräfta borttagning' } %> |

<%= link_to 'Ändra', edit_person_path(@selected)%>