<div id = "header">
  <h1 id = "header_title">Forskarskåpshanteraren</h1>
  <div id = header_right>
    <b id = "nbrOfPeople" > Antal inskrivna: <%= @nbrOfPeople %> </b>
    <div id="new_link">
      <%= link_to 'Lägg till ny person', new_person_path, :style=> 'text-decoration:none; color: black' %>
    </div>
  </div>
</div>

<div id = "index_side">

  <%= form_tag(people_path, :method => "get", id: "search-form") do %>

    <%= select_tag :search_by, options_for_select(['Namn','Personnummer','Lånekortsnummer','Forskarskåp', 'Antal besök'], @search_by), :style=> 'width: 30%; margin-left: 2px' %>

    <%= text_field_tag :search, @search, placeholder: "Sök", :style=> 'width: 50%;' %>
    <%= submit_tag "Search", :style=> 'width: 16%;' %>
  <% end %>

  
  
  <div id = "index_list">
    <table cellspacing="0">
      <tr>
        <th>Namn</th>
        <th>Personnummer &nbsp; </th>
        <th>Kortnummer &nbsp;</th>
        <th>Forskarskåp &nbsp;</th>
      </tr>

      <% @people.each do |person| %>
        <% @locker = Locker.find(person.locker_id) %>
        <tr class = "index" id = 'P_<%= person.id %>'>
          <td>
            <%= form_tag(people_path, :method => "get") do %>
              <%= hidden_field_tag :show, value = person.id %>
              <%= submit_tag person.name, :style=> 'background-color: transparent;  width: 200px; word-wrap: break-word; border: none; font-family: serif; font-size: 16px; text-align: left;' %>
            <% end %>
          </td>
          
          <td>
            <%= form_tag(people_path, :method => "get") do %>
              <%= hidden_field_tag :show, value = person.id %>
              <%= submit_tag person.personnbr, :style=> 'background-color: transparent;  width:100%; border: none; font-family: serif; font-size: 16px; text-align: left;' %>
            <% end %>
          </td>
          <td>
            <%= form_tag(people_path, :method => "get") do %>
              <%= hidden_field_tag :show, value = person.id %>
              <%= submit_tag person.cardnbr, :style=> 'background-color: transparent;  width: 100%; border: none; font-family: serif; font-size: 16px; text-align: left;' %>
            <% end %>
          </td>
          
          <td>
            <%= form_tag(people_path, :method => "get") do %>
              <%= hidden_field_tag :show, value = person.id %>
              <%= submit_tag @locker.number, :style=> 'background-color: transparent;  width:100%; border: none; font-family: serif; font-size: 16px; text-align: left;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>

<script>
  $('#index_list').scrollTo($('#P_<%= @selected.id%>'));                        
</script>


<% if @selected != nil %>
  <%= render 'show' %>
<% end %>


