<div id = "header">
  <h1 id = "header_title">Forskarskåpshanteraren</h1>
  
  <div id="new_link">
    <%= link_to 'Lägg till ny person', new_person_path, :style=> 'text-decoration:none; color: darkslateblue' %>
  </div>
</div>




<div id = "index_side">

  <%= form_tag(people_path, :method => "get", id: "search-form") do %>

    <%= select_tag :search_by, options_for_select(['Namn','Personnummer','Lånekortsnummer','Forskarskåp'], @search_by) %>

    <%= text_field_tag :search, @search, placeholder: "Sök" %>
    <%= submit_tag "Search" %>
  <% end %>

  <div id = "index_list">
    <table>
      <tr>
        <th>Namn</th>
        <th>Personnummer</th>
        <th>Kortnummer</th>
        <th>Forskarskåp</th>
      </tr>

      <% @people.each do |person| %>
        <% @locker = Locker.find(person.locker_id) %>
        <tr class = "index">
          <td><%= person.name %></td>
          <td><%= person.personnbr %></td>
          <td><%= person.cardnbr %></td>
          <td><%= @locker.number %></td>
          <td>
            <%= form_tag(people_path, :method => "get") do %>
              <%= hidden_field_tag :show, value = person.id %>
              <%= submit_tag "Visa"  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>

<div id = "details_side">

  <% if @selected != nil %>
    <%= render 'show' %>
  <% end %>
  
</div>

