<h1>Forskarskåpshanteraren:</h1>

<%= link_to 'Lägg till ny person', new_person_path %>


<%= form_tag(people_path, :method => "get", id: "search-form") do %>

  <%= select_tag :search_by, options_for_select(['Namn','Personnummer','Lånekortsnummer','Forskarskåp']) %>

  <%= text_field_tag :search, params[:search], placeholder: "Sök" %>
  <%= submit_tag "Search" %>
<% end %>


<table>
  <tr>
    <th>Namn</th>
    <th>Personnummer</th>
    <th>Kortnummer</th>
    <th>Forskarskåp</th>
  </tr>
 
  <% @people.each do |person| %>
    <% @locker = Locker.find(person.locker_id) %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.personnbr %></td>
      <td><%= person.cardnbr %></td>
      <td><%= @locker.number %></td>
      <td>
        <%= form_tag(people_path, :method => "get") do %>
          <%= hidden_field_tag :show, value = person.id %>
          <%= submit_tag "Visa"  %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>



<% if @selected %>
  <%= render 'show' %>
<% end %>

