<h1>L채gg till ny anv채ndare</h1>

<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <table id = "visits_table">
        <%@person.errors.messages.values.each do |msg| %>
          <tr>
            <%msg.each do  |m| %>
              <td><%= m %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

    </div>
  <% end %>

  <p>
    <%= f.label :Personnummer %><br>
    <%= f.text_field :personnbr %>
  </p>

  <p>
    <%= f.label :Forskarsk책p %><br>
    <% @available = Locker.listAvailable(@person.locker_id) %>
    <%= f.collection_select :locker_id, @available, :id, :number %>
  </p>
  
  <p>
    <%= f.submit "Spara anv채ndare"%>
  </p>

<% end %>




<%= link_to 'Tillbaka', people_path %>
