
<p>
  <strong>Namn:</strong>
  <%= @person.name %>
</p>
 
<p>
  <strong>Personnummer:</strong>
  <%= @person.personnbr %>
</p>

<p>
  <strong>Lånekortsnummer:</strong>
  <%= @person.cardnbr %>
</p>

<p>
  <strong>Medlem sedan: </strong>
  <%= @person.registrationDate %>
</p>


<p>
  <strong>ID: </strong>
  <%= @person.id %>
</p>

<table>
  <tr>
    <th>Besök:</th>
  </tr>
 
  <% @person.visits.each do |visit| %>
    <tr>
      <td><%= visit.date %></td>
    </tr>
  <% end %>
</table>



<%= link_to 'Tillbaka', people_path %> |

<%= link_to 'Ta bort', person_path(@person),
              method: :delete,
              data: { confirm: 'Bekräfta borttagning' } %> |

<%= link_to 'Ändra', edit_person_path(@person)%>