
<div id = "personal_info">
  <p>
    <strong>Namn:</strong>
    <%= @person.name %>
  </p>

  <p>
    <strong>Personnummer:</strong>
    <%= @person.personnbr %>
  </p>

  <p>
    <strong>Lånekortsnummer:</strong>
    <%= @person.cardnbr %>
  </p>

  <p>
    <strong>Medlem sedan:</strong>
    <%= @person.registrationDate %>
  </p>


  <p>
    <strong>Inskrivningsdatum:</strong>
    <%= @person.registrationDate %>
  </p>
  
  <p>
    <% if @person.locker_id %>

      <strong>Locker:</strong>
      <%= @locker.number %>

    <% else %>
      <strong> Denna användare har inte ett forskarskåp</strong>
    <% end %>
  </p>

  
</div>


<div id = "visits_info">
  <p>
    <strong>Totalt antal besök:</strong>
    <%= @nbrOfVisits %>
  </p>


  <table>
    <tr>
      <th>Besök:</th>
    </tr>

    <% @person.visits.each do |visit| %>
      <tr>
        <td><%= visit.date %></td>
      </tr>
    <% end %>
  </table>
  
</div>



<%= link_to 'Tillbaka', people_path %> |

<%= link_to 'Ta bort', person_path(@person),
              method: :delete,
              data: { confirm: 'Bekräfta borttagning' } %> |

<%= link_to 'Ändra', edit_person_path(@person)%>